/*
Version: 3.4.0 Timestamp: Tue May 14 08:27:33 PDT 2013
*/
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
  Force border-box so that % widths fit the parent
  container without overlap because of margin/padding.
  
  More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -khtml-box-sizing: border-box;
  /* konqueror */
  -moz-box-sizing: border-box;
  /* firefox */
  -ms-box-sizing: border-box;
  /* ie */
  box-sizing: border-box;
  /* css3 */
}

.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 50%);
  background-image: -ms-linear-gradient(top, white 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(top, white 0%, #eeeeee 50%);
}

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.9, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 90%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 90%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 90%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, white 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%, white 90%);
}

.select2-container.select2-allowclear .select2-choice span {
  margin-right: 42px;
}

.select2-container .select2-choice span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url("../img/select2.png") right top no-repeat;
  cursor: pointer;
  outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

.select2-drop-mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9998;
}

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}

.select2-drop-auto-width .select2-search {
  padding-top: 4px;
}

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

.select2-container .select2-choice div {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(0.6, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -o-linear-gradient(bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
  background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
}

.select2-container .select2-choice div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/select2.png") no-repeat 0 1px;
}

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}

.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: white url("../img/select2.png") no-repeat 100% -22px;
  background: url("../img/select2.png") no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url("../img/select2.png") no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("../img/select2.png") no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("../img/select2.png") no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url("../img/select2.png") no-repeat 100% -22px, -ms-linear-gradient(top, white 85%, #eeeeee 99%);
  background: url("../img/select2.png") no-repeat 100% -22px, linear-gradient(top, white 85%, #eeeeee 99%);
}

.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px;
}

.select2-search input.select2-active {
  background: white url("../img/select2-spinner.gif") no-repeat 100%;
  background: url("../img/select2-spinner.gif") no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url("../img/select2-spinner.gif") no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("../img/select2-spinner.gif") no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("../img/select2-spinner.gif") no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url("../img/select2-spinner.gif") no-repeat 100%, -ms-linear-gradient(top, white 85%, #eeeeee 99%);
  background: url("../img/select2-spinner.gif") no-repeat 100%, linear-gradient(top, white 85%, #eeeeee 99%);
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, white 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(top, white 0%, #eeeeee 50%);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center top, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(bottom, white 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(bottom, white 0%, #eeeeee 50%);
}

.select2-dropdown-open .select2-choice div {
  background: transparent;
  border-left: none;
  filter: none;
}

.select2-dropdown-open .select2-choice div b {
  background-position: -18px 1px;
}

/* results */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px;
}

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}

.select2-results li em {
  background: #feffde;
  font-style: normal;
}

.select2-results .select2-highlighted em {
  background: transparent;
}

.select2-results .select2-highlighted ul {
  background: white;
  color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
  display: none;
}

.select2-more-results.select2-active {
  background: #f4f4f4 url("../img/select2-spinner.gif") no-repeat 100%;
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container.select2-container-disabled .select2-choice div {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(top, #eeeeee 1%, white 15%);
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
  min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: white url("../img/select2-spinner.gif") no-repeat 100% !important;
}

.select2-default {
  color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
}

.select2-container-multi .select2-choices .select2-search-choice span {
  cursor: default;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
  background: url("../img/select2.png") right top no-repeat;
}

.select2-container-multi .select2-search-choice-close {
  left: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}

/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  outline: 0;
  left: 0px;
}

.select2-display-none {
  display: none;
}

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
    background-image: url("../img/select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }

  .select2-search input {
    background-position: 100% -21px !important;
  }
}
#icon-map {
  background: url(../img/icons/title_icon.png) no-repeat top left;
  padding: 0 0 0 44px;
  float: left;
  height: 38px;
  width: 145px;
}
#icon-map h2 {
  margin: 0;
  padding: 0;
  font-size: 23px;
  line-height: 38px;
  color: #000;
  text-shadow: #fff 0 1px 0;
}

/*==========  Map General  ==========*/
#map-editor {
  padding: 10px 0 0;
  /*==========  Map Layout  ==========*/
  /*==========  Map Header  ==========*/
  /*==========  Map Content  ==========*/
  /*==========  Map Accordion  ==========*/
}
#map-editor * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
#map-editor input, #map-editor .color {
  border: 1px solid #dbdbdb;
  height: 28px;
  line-height: 1.5;
  padding: 4px 10px;
  margin: 0;
  font-size: 14px;
  color: #464646;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
#map-editor input.block, #map-editor .color.block {
  width: 100%;
}
#map-editor .invalid {
  border: 1px solid red !important;
}
#map-editor .overlay {
  background-color: #000;
  opacity: .7;
  filter: alpha(opacity=70);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#map-editor #notification {
  background: #00aacc;
  border: 1px solid #0095b3;
  padding: 5px 10px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 15px 0 -5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#map-editor .map, #map-editor .map-name {
  width: 60%;
  float: left;
  overflow: hidden;
}
#map-editor .map-search, #map-editor .controll {
  float: right;
  width: 38%;
}
#map-editor .header {
  *zoom: 1;
}
#map-editor .header:before, #map-editor .header:after {
  display: table;
  content: "";
  line-height: 0;
}
#map-editor .header:after {
  clear: both;
}
#map-editor .map-save, #map-editor .map-edit {
  float: right;
  overflow: hidden;
}
#map-editor .map-save strong, #map-editor .map-edit strong {
  color: #808080;
  font-size: 14px;
  font-weight: normal;
  line-height: 38px;
  display: inline-block;
  margin: 0 18px 0 0;
}
#map-editor .map-save button, #map-editor .map-save strong, #map-editor .map-edit button, #map-editor .map-edit strong {
  float: left;
}
#map-editor .top {
  margin: 0 0 10px;
  overflow: hidden;
}
#map-editor .top input[type=text] {
  padding-right: 75px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#map-editor .map-search {
  position: relative;
}
#map-editor .map-name input {
  font-size: 16px;
}
#map-editor .content {
  background: #f5f5f5;
  width: 100%;
  min-height: 500px;
  margin: 20px 0 0;
  position: relative;
}
#map-editor .content .inside {
  padding: 10px;
  *zoom: 1;
}
#map-editor .content .inside:before, #map-editor .content .inside:after {
  display: table;
  content: "";
  line-height: 0;
}
#map-editor .content .inside:after {
  clear: both;
}
#map-editor .content .map, #map-editor .content .controll {
  border: 1px solid #dbdbdb;
}
#map-editor .content .controll {
  background: #fff;
}
#map-editor .content #map-canvas {
  height: 600px;
  border: 1px solid #fff;
}
#map-editor .content .remove-place {
  float: right;
}
#map-editor .content .place-icon-selector .icon {
  float: left;
}
#map-editor .content .place-icon-selector .description {
  text-size: 10px;
}
#map-editor .control-group {
  *zoom: 1;
  margin: 0 0 14px;
}
#map-editor .control-group:before, #map-editor .control-group:after {
  display: table;
  content: "";
  line-height: 0;
}
#map-editor .control-group:after {
  clear: both;
}
#map-editor .control-group.last {
  margin: 0;
}
#map-editor .control-group h3 {
  margin: 0 0 6px;
  color: #666666;
  font-weight: 700;
  font-size: 14px;
}
#map-editor .control-group label {
  display: block;
  color: #666666;
  font-size: 14px;
  line-height: 28px;
  margin: 0 10px 0 0;
}
#map-editor .control-group fieldset.col {
  width: 48%;
  float: left;
}
#map-editor .control-group fieldset.col2 {
  float: right;
}
#map-editor .control-group fieldset input {
  width: 100%;
}
#map-editor .control-group .media-button {
  margin: 0 0 10px;
}
#map-editor .control-group .details {
  background: #fff;
  max-height: 100px;
  min-height: 100px;
}
#map-editor #center-details input {
  width: 100%;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#map-editor #center-details .ui-spinner {
  display: block;
}
#map-editor .ui-slider.ui-widget-content {
  background: #00aacc;
}
#map-editor .ui-slider .ui-widget-header {
  background: #dfdfdf;
}
#map-editor .ui-slider .ui-slider-handle {
  background: #008099;
  border: 1px solid #006a80;
  outline: none;
}
#map-editor .map-details-textarea .mceIframeContainer {
  background: #fff;
}
#map-editor .map-details-textarea .mceToolbar {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#map-editor .map-details-textarea table.mceLayout {
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
#map-editor .ui-tabs {
  padding: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#map-editor .ui-tabs .ui-tabs-nav {
  border-bottom: 1px solid #dbdbdb;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#map-editor .ui-tabs li {
  background: #f0f0f0;
  border: 0;
  border-right: 1px solid #dbdbdb;
  margin-right: 0;
  margin-top: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#map-editor .ui-tabs li.ui-tabs-active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
}
#map-editor .ui-tabs li.ui-tabs-active a {
  color: #4c4c4c;
}
#map-editor .ui-tabs li.ui-tabs-active:hover {
  background: #fff;
}
#map-editor .ui-tabs li:hover {
  background: #f0f0f0;
}
#map-editor .ui-tabs li a {
  outline: none;
  color: #21759b;
  font-size: 13px;
  font-weight: 700;
  padding: 0 30px;
  line-height: 39px;
}
#map-editor .ui-widget-header {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  border: 0;
}
#map-editor .ui-widget-header [class^="icon-"], #map-editor .ui-widget-header [class*=" icon-"] {
  font-size: 20px;
  position: relative;
  margin: 0 10px 0 -10px;
  top: 3px;
}
#map-editor [class^="icon-"], #map-editor [class*=" icon-"] {
  font-family: FontAwesome;
}

/*==========  Accordion  ==========*/
#map-editor .accordion {
  margin: 0 0 10px;
}
#map-editor .accordion .ui-accordion-header {
  border-color: #d6d6d6;
  background: #f5f5f5;
  margin-top: 10px;
  padding: 10px 13px 10px 35px;
  color: #808080;
  font-size: 14px;
  font-weight: 700;
  min-height: 40px;
}
#map-editor .accordion .ui-accordion-header.ui-accordion-header-active {
  background: #00aacc;
  border-color: #0095b3;
  color: #fff;
}
#map-editor .accordion .ui-accordion-header.ui-accordion-header-active .ui-accordion-header-icon {
  background-position: -14px 0;
}
#map-editor .accordion .ui-accordion-header.ui-accordion-header-active .remove {
  background-position: -11px 0;
}
#map-editor .accordion .ui-accordion-header .ui-accordion-header-icon {
  width: 12px;
  height: 12px;
  background: url(../img/icons/state_icons.png) no-repeat 0 0;
  left: 13px;
  margin-top: -6px;
}
#map-editor .accordion .ui-accordion-header .remove {
  background: url(../img/icons/close_icons.png) no-repeat 0 0;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 13px;
  margin-top: -5px;
  display: block;
  text-indent: -9999px;
}
#map-editor .accordion .ui-accordion-content {
  background: #fafafa;
  padding: 17px 10px 10px;
  border: solid #d6d6d6;
  border-width: 0 1px 1px;
}

/*==========  Buttons  ==========*/
#map-editor .btn, .ui-dialog-buttonpane .ui-button {
  background: #00b1d0;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#map-editor .btn [class^="icon-"], #map-editor .btn [class*=" icon-"], .ui-dialog-buttonpane .ui-button [class^="icon-"], .ui-dialog-buttonpane .ui-button [class*=" icon-"] {
  font-size: 12px;
  margin-right: 5px;
}
#map-editor .btn:hover, #map-editor .btn:focus, .ui-dialog-buttonpane .ui-button:hover, .ui-dialog-buttonpane .ui-button:focus {
  background: #029cbb;
}
#map-editor .btn:active, .ui-dialog-buttonpane .ui-button:active {
  outline: 0;
}

#map-editor {
  /* search button */
}
#map-editor .btn.save, #map-editor .btn.edit {
  background: #f25b52;
  background: -moz-linear-gradient(top, #f25b52 0%, #ef4b43 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f25b52), color-stop(100%, #ef4b43));
  background: -webkit-linear-gradient(top, #f25b52 0%, #ef4b43 100%);
  background: -o-linear-gradient(top, #f25b52 0%, #ef4b43 100%);
  background: -ms-linear-gradient(top, #f25b52 0%, #ef4b43 100%);
  background: linear-gradient(to bottom, #f25b52 0%, #ef4b43 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f25b52', endColorstr='#ef4b43',GradientType=0 );
  padding: 8px 25px 7px 30px;
  font-size: 14px;
  font-weight: 700;
}
#map-editor .btn.save .icon-save, #map-editor .btn.edit .icon-save {
  margin: 0 5px 0 -5px;
  font-size: 14px;
}
#map-editor button.btn::-moz-focus-inner,
#map-editor input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
#map-editor #btn-search {
  background: #00b1d0 url(../img/icons/search_icon.png) no-repeat center center;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 68px;
  height: 28px;
  border: 1px solid #0095b3;
  text-indent: -9999px;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#map-editor .media-button {
  line-height: 31px;
  padding: 0 12px;
  height: 31px;
  text-shadow: none;
}
#map-editor .add {
  font-size: 14px;
  font-weight: 700;
}
#map-editor .add [class^="icon-"], #map-editor .add [class*=" icon-"] {
  font-size: 14px;
}

.select2-results li:hover, .select2-results li.select2-highlighted {
  background: #00aacc;
  color: #fff;
}
.select2-results li:hover .description, .select2-results li.select2-highlighted .description {
  color: #fff;
}
.select2-results .place-icon-selector {
  overflow: hidden;
}
.select2-results .place-icon-selector img {
  float: left;
  margin: 0 5px 4px 0;
}

/*==========  Helper  ==========*/
.hide {
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/*==========  Dialogs  ==========*/
.ui-dialog.ui-widget {
  background: #fafafa;
  border-color: #dbdbdb;
  padding: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ui-dialog.ui-widget .ui-dialog-titlebar {
  background: #00aacc;
  border-color: #0095b3;
  color: #fff;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.ui-dialog.ui-widget .ui-dialog-titlebar-close {
  background: url(../img/icons/close_icons.png) no-repeat -11px 0;
  border: 0;
  margin: -5px 0 0;
  padding: 0;
  right: 10px;
  width: 10px;
  height: 10px;
  display: block;
  text-indent: -9999px;
}
.ui-dialog.ui-widget .ui-dialog-titlebar-close span {
  display: none;
}
.ui-dialog.ui-widget .ui-dialog-content {
  text-align: center;
  color: #666666;
}
.ui-dialog.ui-widget .ui-dialog-buttonpane {
  background: #fafafa;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  padding: 0 5px 5px;
  margin: 0;
  border: 0;
}
.ui-dialog.ui-widget .ui-dialog-buttonpane .ui-button {
  font-size: 11px;
  line-height: 1.5;
  outline: 0;
  margin: 0 0 1px 5px;
  padding: 2px 10px;
}
